<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Ti </title>
</head>
<body>
 NutrionStore
 <div>
     <ul>
         <li><a th:href="${petNameLinkTrick}">Trick Center</a></li>
         <li><a th:href="${petNameLinkInf}">Information</a></li>
         <li><a th:href="${petNameLinkNut}">Nutirion Store</a></li>
         <li><a href="/login">Login</a></li>
     </ul>
 </div>
<div>
    <form action="/nutrionStore" method="post">
        <input list="foods" name="food">
        <datalist id="foods">
            <option value="Cat">
            <option value="Mouse">
            <option value="Bird">
            <option value="Salad">
            <option value="Tomato">
        </datalist>
        <a>Change</a>
        <input list="drinks" name="drink">
        <datalist id="drinks">
            <option value="Water">
            <option value="Wine">
            <option value="Pepsi">
            <option value="Blood">
            <option value="TomatoSoup">
        </datalist>
        <input type="submit">
    </form>
</div>


 </form>
</body>
</html>