<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <ul>
        <li><a th:href="${petNameLinkTrick}">Trick Center</a></li>
        <li><a th:href="${petNameLinkInf}">Information</a></li>
        <li><a th:href="${petNameLinkNut}">Nutirion Store</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</div>
<div>
    <form action="/trickCenter" method="post">
        <input list="tricks" name="trick">
        <datalist id="tricks">
            <option value="Jump">
            <option value="Run">
            <option value="Walk">
            <option value="Transform to Alien">
            <option value="Calculate The Universe">
        </datalist>
        <input type="submit">
    </form>
</div>
</body>
</html>