<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
Hello World!
<header>
    <table>
        <tr>
            <th><a href="/cheapestFirst">CheapestFirs</a></th>
            <th><a href="/webshop">webshop</a></th>
            <th><a href="/only-avaiable">only avalibe</a></th>
            <th><a href="/avarage">Avarage</a></th>
        </tr>
    </table>
</header>
<p th:text="'Hello, ' + ${average} + '!'"/>

</table>

<form action="/search" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="searched">
    </div>

</form>


</body>


</html>